language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "node"
before_install:
  - "npm install -g npm@latest"
install:
  - npm install
notifications:
  email: false
script:
  - npm test
after_success:
    - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
